* {
  margin: 0;
  padding: 0;
}

/* hi, I'm Valeria */
.miPortafolio {
  width: 100%;
  height: 900px;
  position: absolute;
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/385/354/350/black-cubes-wallpaper-preview.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.blast {
  font-weight: 400px;
  color: white;
  text-shadow: rgb(73, 74, 75) 4px 3px;
  font-size: 100px;
  font-family: 'Inconsolata', monospace;
}
.blast:hover{
  transition: all 0.5s ease-out;
  color:rgb(20, 255, 236);
  transform: rotate(-360deg);
}
.h2{
  color: white;
  font-size: 30px;
  margin-bottom: 30px;
  font-family: 'Inconsolata', monospace;
}
.h2:hover{
  color: rgb(20, 255, 236);
}

/* contenedor de proyectos */

.conteiner-boxes{
  background-color: black;
  width: 100%;
  height: 900px;
}
.boxes{
  background-color: rgb(20, 255, 236);
  width: 200px;
  height: 20px;
  display: flex;
}

.h2p{
  color: aqua;
  font-family: 'Inconsolata', monospace;
}

